@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4d04e;
}

.container {
  width: 388px;
  background-color: white;
  border-radius: 20px;
  padding: 24px;
  border: 1px solid #111111;
  box-shadow: 8px 8px black;
}

#illustration {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 24px;
}

.authorInfo {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-top: 24px;
}

.authorInfo h3 {
  margin: 0;
}

#avatar {
  width: 32px;
}

h1,
h2,
h3,
p,
span {
  font-family: Figtree, sans-serif;
  line-height: 150%;
}

h1,
h2,
h3,
span {
  margin-bottom: 12px;
}

h1 {
  font-size: 24px;
  font-weight: 800;
}

h2 {
  font-size: 14px;
  font-weight: 800;
}

h3 {
  font-size: 14px;
  font-weight: 800;
}

.tag {
  background-color: #f4d04e;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 4px;
}

p,
span {
  font-size: 14px;
  font-weight: 400;
}

h1,
h2,
h3,
span {
  color: #111111;
}
p {
  color: #6b6b6b;
}

h1:hover {
  color: #f4d04e;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .container {
    width: 300px;
  }
}
